:root {

    --books-color: #5ebff780;
    --users-color: #5ebff780;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: #7fffd4;
}

header {
    height: 5em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header>h1 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 46, 46);
    ;
}

.root-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 100px;
}

.big-button {
    height: 300px;
    width: 300px;

    background-color: var(--users-color);
    border: 1.5px solid rgb(46, 46, 46);
    border-radius: 1rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: rgb(46, 46, 46);
    text-align: center;
    vertical-align: top;
    line-height: 300px;
}

#user-button {
    background-color: var(--users-color);
}

#book-button {
    background-color: var(--books-color);
}

.form-div {
    padding: 100px 100px;
    background-color: var(--books-color);
    border: 2px solid rgb(46, 46, 46);
    border-radius: 2em;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
}

form {
    max-width: 500px;
}

.form-div>form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
}

#book-form {
    background-color: var(--books-color);
}

#user-form {
    background-color: var(--user-color);
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.form-submit-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.back-button {
    padding: 10px 20px;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.confirm-button {
    padding: 10px 20px;
    background-color: rgb(0, 212, 53);
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}

input[type="text"] {
    width: 300px;
    height: 30px;
    border-radius: 6px;
    border: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.form-checkboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    flex: 1 0 50%;
}

input[type="submit"] {
    background-color: rgb(28, 242, 20);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
}

.edit-button {
    background-color: rgb(229, 212, 25);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
}

.delete-button {
    background-color: rgb(229, 25, 25) !important;
    cursor: pointer;
}

table {
    width: 80%;
    margin: 0 auto;
}

table,
th,
tr,
td {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px black solid;
}

th {
    background-color: rgb(144, 255, 255);
}

td {
    text-align: center;
}

.table-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}

.book-list {
    display: flex;
    flex-direction: column;
}